html {
    font-size: 20px;
    @media screen and (min-width: 900px) {
        font-size: 18px;
    }
    @media screen and (min-width: 1200px) {
        font-size: 20px;
    }
}

body {
    font-family: "helvetica neue", sans-serif;
    color: #ccc;
    background-color: rgb(82, 133, 149);
    font-weight: 100;
}

div {
    margin-bottom: 2rem;
}

:root {
    --base: #8b0fd7;
    --scale: 1050px;
    --blur: 5px;
    --bw: 0;
    --spacing: 25px;
}

img {
    /*border: 2px solid rgb(12, 23, 82);*/
    padding: var(--spacing);
    background-color: var(--base);
    filter: grayscale(var(--bw)) blur(var(--blur));
    width: var(--scale);
}
