#page {
    margin-left: 5%;
    background: #ff99ff;
    /*padding: 10px;*/
}

#main {
    margin-left: 10px;
    background-color: #66ffcc;
    width: 260px;
}

#additional {
    margin-left: 10px;
    background-color: #ff6699;
}

div {
    border: 1px solid lime;
}
