#page {
    width: 90%;
    margin-left: 5%;
    background: #00cc33;
    float: left;
    /*padding: 10px;*/
}

#main {
    margin-left: 10px;
    background-color: #66ffcc;
    width: 400px;
    float: left;
}

#additional {
    float: left;
    margin-left: 10px;
    background-color: #ff6699;
    width: 100px;
}
