body {
	/*font-size: 1.2em;*/
	font-family: "MS Trebuchet", sans-serif;

	background-color: #1992BF;
	/*font-size: 0.9em;*/
}

a {
	color: white;
}

div#content {
	width: 790px;
	margin: 0 auto;
}

div#aside {
	position: fixed;
	top: 10px;
	right: 0;
	width: 290px;
	background-color: #D43714;
	padding-left: 10px;
	color: white;
}

div#aside>h2 {
	margin: 10px 0 10px 0;
}

div#aside ul {
	padding: 0;
	list-style-type: none;
}


div#main {
	width: 480px;
}

div#main {
	/*border: 1px dashed #000;*/
}

div#main a {

}

div#main h2 {
	margin: 2px 0 6px 10px;
}

div#main>ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

div#main>ul>li a{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	display: block;

	/*border: 2px solid #ECBDAD;*/
	padding: 10px;
	margin-bottom: 8px;
	
	text-decoration: none;
	background: #9FD6D9;

	color: #000;
	text-shadow: #8Fc6c9 1px 1px;

	cursor: pointer;
}

div#main>ul>li a:hover {
	background-color: #bFf6f9;	
}

div#main>ul>li img.track-image {
	width: 48px;
	height: 48px;
	margin-right: 10px;
	
	vertical-align: top;
}

div#apihandler-loader {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;

	position: fixed;
	color: #000;
	top: 10px;
	left: 10px;
	padding: 4px;
	display: none;
	background-color: #fff;
}

div#apihandler-loader img {
	vertical-align: middle;
	padding-right: 10px;
}

.track-details {
	border: 10px solid #777;
	border-radius: 10px;
	padding: 10px;
}

#notifier {
    width: 200px;
    height: 60px;
    position: fixed;
    top: 0;
    left: 400px;
    background: lime;
    display: none;
}